@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267 61% 99%;
    --foreground: 267 68% 3%;
    --muted: 0 5% 86%;
    --muted-foreground: 0 12% 26%;
    --popover: 267 61% 98%;
    --popover-foreground: 267 68% 2%;
    --card: 267 61% 98%;
    --card-foreground: 267 68% 2%;
    --border: 267 5% 90%;
    --input: 267 5% 90%;
    --primary: 267 61% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 88%;
    --secondary-foreground: 0 0% 28%;
    --accent: 0 0% 88%;
    --accent-foreground: 0 0% 28%;
    --destructive: 9 100% 31%;
    --destructive-foreground: 9 100% 91%;
    --ring: 267 61% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 267 46% 2%;
    --foreground: 267 12% 100%;
    --muted: 267 5% 14%;
    --muted-foreground: 267 12% 74%;
    --popover: 267 46% 3%;
    --popover-foreground: 0 0% 100%;
    --card: 267 46% 3%;
    --card-foreground: 0 0% 100%;
    --border: 267 5% 13%;
    --input: 267 5% 13%;
    --primary: 267 61% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 16% 18%;
    --secondary-foreground: 267 16% 78%;
    --accent: 267 16% 18%;
    --accent-foreground: 267 16% 78%;
    --destructive: 9 100% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 267 61% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
